.pure-button-disconnect, .pure-button-im, .pure-button-owncloud,
	.pure-button-ldap, .pure-button-home, .pure-button-submit,
	.pure-button-save, .pure-button-calendar, .pure-button-calendar-accept,
	.pure-button-calendar-decline, .pure-button-validate-prop,
	.pure-button-unvalidate-prop, .pure-button-edit-poll,
	.pure-button-see-poll, .pure-button-new-poll, .pure-button-modify-poll,
	.pure-button-light-red, .pure-button-delete, .pure-button-delete-date,
	.pure-button-poll, .pure-button-connect-with-account, .pure-button-connect-with-cerbere, 
	.pure-button-help,
	.pure-button-calendar-accept-text, .pure-button-calendar-decline-text {
	color: white !important;
	border-radius: 2px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-im {
	background: rgb(28, 184, 65); /* this is a green */
	font-size: 50%;
	padding: 4px 12px;
}

.pure-button-owncloud {
	background: #F4FA58; /* this is a green */
	font-size: 50%;
	padding: 5px 12px;
}

.pure-button-ldap {
	background: #8887D2; /* this is a light blue */
	font-size: 50%;
	padding: 4px 12px;
}

.pure-button-poll {
	background: #769DDB; /* this is a light blue */
	font-size: 50%;
	padding: 4px 12px;
}

.pure-button-connect-with-account {
	background: #336699; /* this is a  blue */
}

.pure-button-connect-with-cerbere {
	background: #476583; /* this is a  blue */
}

.pure-button-connect-with-cerbere img,
.pure-button-connect-with-account img {
	margin-right: 5px;
	float: left;
}

.pure-button-see-poll {
	background: #476583; /* this is a  blue */
	font-size: 90%;
}

.pure-button-edit-poll {
	background: #476583; /* this is a  blue */
	font-size: 90%;
}

.pure-button-submit {
	background: #476583; /* this is a light blue */
	font-size: 90%;
}

.pure-button-disconnect {
	background: rgb(223, 117, 20); /* this is an orange */
	font-size: 80%;
}

.pure-button-home {
	background: rgb(66, 184, 221); /* this is a light blue */
	font-size: 80%;
}

.pure-button-save {
	background: #837797; /* this is a blue */
	font-size: 80%;
}

.pure-button-calendar {
	background: rgb(66, 184, 221); /* this is a blue */
	font-size: 80%;
	padding: 2px 5px;
	background-image: url("../../images/1397844068_agenda-2-01.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	width: 25px;
	margin-right: 3px;
	float: left;
}

.pure-button-calendar-accept {
  background: #5FB404; /* this is a green */
  font-size: 80%;
  padding: 2px 5px;
  background-image: url("../../images/1397844068_agenda-2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  margin-right: 3px;
  float: left;
}

.pure-button-calendar-decline {
  background: #DF013A; /* this is a red */
  font-size: 80%;
  padding: 2px 5px;
  background-image: url("../../images/1397844068_agenda-2-01.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 25px;
  margin-right: 3px;
  float: right;
}

.pure-button-calendar-accept-text {
	background: #5FB404; /* this is a green */
	padding: 4px 8px;
	font-size: 85%;
	margin-right: 10px;
} 
.pure-button-calendar-decline-text {
	background: #DF013A; /* this is a red */
	padding: 4px 8px;
	font-size: 85%;
}

.pure-button-calendar-accept:hover,
.pure-button-calendar-decline:hover,
.pure-button-calendar:hover {
	background-image: url("../../images/1397844068_agenda-2-01.png");
	background-repeat: no-repeat;
	background-position: center;
}


.pure-button-validate-prop {
	background: #769DDB; /* this is a blue */
	font-size: 80%;
}

.pure-button-unvalidate-prop {
	background: rgb(202, 60, 60); /* this is a blue */
	font-size: 80%;
	padding: 2px 5px;
	background-image:
		url("../../images/1395836978_remove-01_white_small.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	width: 25px;
	float: right;
}

.pure-button-unvalidate-prop:hover {
	background-image:
		url("../../images/1395836978_remove-01_white_small.png");
	background-repeat: no-repeat;
	background-position: center;
}

.pure-button-delete-date {
	background: grey; /* this is a red */
	font-size: 80%;
	padding: 2px 8px;
	background-image:
		url("../../images/1395836978_remove-01_white_small.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 25px;
	width: 25px;
	position: relative;
	top: 10px;
}

.pure-button-delete-date:hover {
	background-image:
		url("../../images/1395836978_remove-01_white_small.png");
	background-repeat: no-repeat;
	background-position: center;
}

.pure-button-delete {
	background: rgb(202, 60, 60);
	font-size: 80%;
}

.pure-button-modify-poll {
	background: #476583; /* this is a light blue */
	font-size: 75%;
	margin-bottom: 5px;
}

.pure-button-light-red {
	background: #8887D2; /* this is a light red */
	font-size: 90%;
}

.pure-button-new-poll {
	background: #8887D2; /* this is a light red */
	font-size: 80%;
}

.pure-button-help {
  background: #75B4FF; /* this is a light blue */
  font-size: 80%;
}